<nav class="row">
    <div class="col-4" id="containerLogo">
        <a href="" id="logoT"><h1 id="logo">Puntos Turisticos</h1></a>
    </div>
    <div class="col-4">
        <ul class="nav nav-tabs" id="navId">
            <li mat-button>
                <a class="nav-link text-nav">Lugares</a>
            </li>
            <li mat-button>
                <a class="nav-link text-nav">Reservas</a>
            </li>
            <li mat-button>
                <a class="nav-link text-nav">Facturación</a>
            </li>
        </ul>
    </div>
    <div class="col-4" id="containerBtn">
        <button id="btnLogOut" mat-button><i class="bi bi-lock-fill" (click)="btnLogOut()" ></i></button>
    </div>
</nav>