<div class="row" id="container">
    <div class="col-8" id="containerForm">
        <div class="row">
            <h1 id="title">Registro</h1>
        </div>
        <div id="formContainer">
            <div>
                <div class="row">
                    <div class="col-6">
                        <h1 class="inputLabel">Nombre</h1>
                        <input type="text" class="input" id="nombre" value="">
                    </div>
                    <div class="col-6">
                        <h1 class="inputLabel">Apellido</h1>
                        <input type="text" class="input" id="apellido" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h1 class="inputLabel">Nick Name</h1>
                        <input type="text" class="input" id="username" value="">
                    </div>
                    <div class="col-6">
                        <h1 class="inputLabel">Password</h1>
                        <div class="row">
                            <input [type]="show ? 'text' : 'password'" class="input" id="password" value="">
                            <button (click)="viewPassword()" id="passwordView">
                                <div class="row asas">
                                    <div class="col-1">
                                        <i class="bi bi-eye-fill"></i>
                                    </div>
                                    <div class="col-11">
                                        <p>Mostrar contraseña</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h1 class="inputLabel">Cedula</h1>
                        <input type="text" class="input" id="cedula" value="">
                    </div>
                    <div class="col-6">
                        <h1 class="inputLabel">Telefono</h1>
                        <input type="text" class="input" id="telefono" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="inputLabel">Correo</h1>
                        <input type="text" class="input" id="correo" value="">
                    </div>
                </div>
                <div class="row">
                    <button class="btnSutmit" (click)="registrar()">Registrar Usuario</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="../../assets/registro.jpg" id="img1">
    </div>
</div>